[submodule "themes/hayflow"]
	path = themes/hayflow
	url = https://gitlab.com/cyril-marpaud/hayflow.git
[submodule "themes/anemone"]
	path = themes/anemone
	url = https://github.com/Speyll/anemone.git
